body {
    margin-bottom: -35px;
}


h1{
    font-weight: 700;
    font-size: 2.8rem;
}

p{
    margin-bottom: 3px;
}

.first{
    background-color: aquamarine;
    height: 240px;
}
.second{
    background-color: black;
    height: 240px;
}
.third{
    background-color: red;
    height: 240px;
}
.home{
    font-size: 16px;
    text-align: justify;
    background-color: #d3e0ea;
    padding-top: 2.5%;
    padding-right: 5%;
    padding-left: 5%;
}
.about{
    padding: 2% 5%;
}

.aboutList {
    list-style: disc inside;
    padding-left: 2%;
}

@media screen and (max-width: 1000px) {
    .home{
        text-align: center;
    }

    .aboutList{
        text-align: left;
        padding-left: 30%;
    }
}