body {
    margin-bottom: -15px;
}

footer {
    background-color: #dbf6e9;
}

footer a {
    text-decoration: none;
    color: #31326f;
}
a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.footer_logo {
    height:80px;
    width:80px;
    border-radius: 50%;
}

.footer__social {
    justify-content: center;
}
.footer__socialList {
    display: flex;
    justify-content: center;
    border-top: 1px #9ddfd3 solid;
}
.footer__socialList li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.footer__legal {
    background-color: #9ddfd3;
    justify-content: center;
    white-space: nowrap;
}
.footer__legalList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer__legalList li {
    margin: 0.125rem 0.625rem;
}
.footer__legalList li:nth-last-child(2) {
    flex: 1;
}