.headnav {
    background-color:#1687a7;
    
}
.header__logoImage {
    height:80px;
    width:80px;
    border-radius: 50%;
}

#element{
    color:#fff;
    padding:14px 16px;
    text-decoration: none;
    font-size:20px;
}

#element:hover {
    color: #000;
    text-decoration: none;
}

#basic-nav-dropdown {
    color:#94b4a4;
    padding:14px 16px;
    text-decoration: none;
    font-size:20px;
}

#basic-nav-dropdown:hover {
    color: #389393;
    text-decoration: none;
}

.navbar__link--active {
    color: #94b4a4;
    font-size:16px;
} 
#bar {
    color:white;
}
#navbar-toggler-icon {
    background-image: url("https:mdbootstrap.com/img/svg/hamburger3.svg?color=ffffff");
}
 